*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;

}

body{

    display: grid;
    height: 100dvh;
    width: 100dvw;
    grid-template-columns: 60px 1fr 2fr;



}





nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F7F5F2;
    color: white;

}

.container-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.container-nav > img {
    cursor: pointer;
    border-radius: 100%;
    width: 40px;
}

.container-nav > img :hover{
    background-color:#32A961;

} 

section{
    font-family: Helvetica;
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);

}

.caixa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    gap: 16px;
    
    

}



main{
    background-color: #DDD5CC;
    color: white;

}

form{
    padding: 10px;
}

input{
    width: 100%;
    padding: 12px 16px;
    border-radius: 20px;
    border: 1px solid transparent;

    

}


input:focus{
    border: 1px solid #32A961;;
}



.btn-container{
    justify-content: space-around;
}